/* src/styles/styles.css */

header {
  width: 100%;
  overflow: hidden;
}

.polygon {
  clip-path: polygon(0% 10%, 89% 0%, 97% 100%, 0% 100%);
  width: 100vw;
  height: 31vw;
}

header .header-content {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  height: 25vw;
  background-color: #1e3a8a; /* Custom blue color */
}

header .header-title {
  font-weight: bold;
  color: white;
  padding-left: 7px;
  padding-right: 5px;
  margin-top: 14vw;
  font-size: 4em;
}

header .header-title .highlight {
  color: #fb923c; /* Custom orange color */
}

.container {
  width: 83.33%;
  margin-left: auto;
  margin-right: auto;
}

.text-blue {
  color: #1e3a8a;
  font-size: 3em;
  font-weight: bold;
}

iframe {
  width: 75vw;
  height: 40vw;
  margin-bottom: 6vw;
}
